<section style="margin-top: 5%;">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="p-3 pb-4 border border-secondary rounded">
                    <h5>Users already exist</h5>
                    <hr>
                    <div id="list-example" class="list-group">
                       
                        <a class="list-group-item list-group-item-action">1. Sivin</a>
                        <a class="list-group-item list-group-item-action">2. Sanu</a>
                        <a class="list-group-item list-group-item-action">3. Sania</a>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>